body {
    background-image: url('/static/img/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    z-index: 2;
    pointer-events: none;

}

.background-visible::before {
    opacity: 0.7;
}
.square {
    width: 30px;
    height: 30px;
    background-color: rgb(215, 211, 211);
    float: left;
    margin: 1px;
    text-align: center;
    line-height: 30px;
    user-select: none;
    position: relative;
}

.menuBoard {
    background-color: rgb(215, 211, 211);
    width: 350px;
    height: 400px;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
}

.menuButton {
    background-color: #ffffff;
    width: 200px;
    height: 50px;
    margin: 10px;

}

.boardKeeper {
    width: 30px;
    height: 30px;
}

.boardBody {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 985px;
    height: 600px;
    background-color: #ffffff;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.boardBack {
    width: 965px;
    height: 515px;
    display: flex;
    background-color: #989191;
    justify-content: center;
    align-items: center;
}

.boardWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
    background: linear-gradient(to bottom right, rgb(152, 145, 145) 0%, rgb(152, 145, 145) 50%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 100%);
    margin-bottom: 10px;
}

.boardWrapper2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 995px;
    height: 610px;
    background: linear-gradient(to bottom right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgba(192, 192, 192, 0.7) 50%, rgb(152, 145, 145) 100%);
    margin-bottom: 10px;
}

.boardInfo {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.winForm{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 22px;
    color: #050505;
}
.winForm a {
    margin: 10px 0;
}



.textInfo {
    margin: 0 auto;
    font-weight: bold;
    font-size: 22px;
    background-color: #d7d3d3;
    color: #050505;

}

.banner{
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0);
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0);
    font-weight: bold;
    font-size: 22px;
}


.square.number {
    font-weight: bold;
    font-size: 22px;
}

.square.number[number="1"] {
    color: blue;
}

.square.number[number="2"] {
    color: green;
}

.square.number[number="3"] {
    color: orangered;
}

.square.number[number="4"] {
    color: darkblue;
}

.square.number[number="5"] {
    color: darkred;
}

.square.number[number="6"] {
    color: darkcyan;
}

.square.number[number="7"] {
    color: black;
}

.square.number[number="8"] {
    color: saddlebrown;
}


.row {
    clear: both;
}



